* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  /* padding: 16px; */
}

#controlView {
  background-color: rgb(101, 98, 98);
  /* padding: 8px; */
}

#controlWrapper {
  padding: 18px 16px;
}

#infoView {
  background-color: rgb(215, 215, 163);
  padding: 24px;
}

#projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

dialog {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
  /* width: 80%; */
  justify-content: center;
}

dialog::backdrop {
  background-image: linear-gradient(45deg, #000428, #004e92);
  opacity: 0.75;
}

#closeBtn,
#taskDialogCloseBtn {
  width: fit-content;
  align-self: flex-end;
}

#inputsRowContainer {
  display: flex;
  justify-content: space-between;
}

#taskCardWrapper {
  /* background-color: aqua; */
  /* padding: 8px 8px; */
}

#tasksHeader {
  margin-top: 8px;
}

#taskCard {
  display: flex;
  align-items: start;
  /* border: 1.5px solid red; */
  border-radius: 4px;
  padding: 8px 8px;
  /* background-color: #004e92; */
  margin: 12px;
  /* background-color: "blue"; */
  justify-content: space-between;
}

#taskContentDiv {
  margin-left: 8px;
}

#taskTitle {
  font-weight: bold;
  font-size: 1rem;
}

#taskInfoWrapper {
  display: flex;
  width: 90%;
  /* background-color: green; */
}

#taskContentDiv {
  /* background-color: red; */
  width: 100%;
  cursor: pointer;
}

#taskCheckbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#taskStatusCheckbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 5px;
}

#deleteTaskBtn {
  background-color: red;
  border: 0px;
  padding: 4px 8px;
  color: white;
  border-radius: 3px;
  font-weight: medium;
}

#taskCard :hover {
  cursor: pointer;
}

#projectsListingDiv {
  /* margin-top: 8px; */
}

#projectListingCard {
  padding: 10px 16px;
  cursor: pointer;
}

/*

task details 

*/
#activeTaskDetails {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 12px;
}

#activeTaskInfo {
  /* background-color: #004e92; */
  height: 100dvh;
}

#activeProjectInfo {
  /* background-color: #fff; */
  height: 100dvh;
}

#activeTaskKeyVal,
#activeTaskProject {
  padding: 12px;
}

#activeTaskTitle,
#activeTaskDescription {
  width: 100%;
}

#title,
#description,
#due_date,
#priority,
#projectId,
#submitBtn {
  width: 97%;
  height: 2rem;
  font-size: larger;
  padding: 0px 5px;
  margin-bottom: 5px;
}

#submitBtn {
  margin-top: 12px;
}

#buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

#saveBtn,
#cancelBtn {
  padding: 4px 8px;
  margin-right: 12px;
  align-self: flex-end;
}

#activeTaskPriorityDiv {
  display: flex;
}

#activeTaskTitle:hover,
#activeTaskDescription:hover,
#activeTaskProjectTitle:hover,
#activeTaskPriority:hover,
#activeTaskDueDate:hover {
  border: 1px solid gray;
  cursor: pointer;
}

#projectUpdatedDialog {
  padding: 12px;
}

#activeTaskTitleWrapper {
  display: flex;
  align-items: start;
  /* background-color: red; */
}

#activeTaskInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 12px;
}

#taskNoteWrapper {
  margin-top: 18px;
  margin-left: 36px;
}

textarea {
  text-align: start;
  text-justify: auto;
  padding: 12px;
}

#plusCircle,
#addProjectBtn {
  display: flex;
  height: 28px;
  width: 28px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  margin-right: 8px;
}

#plus {
  font-weight: bolder;
  font-size: 1.5rem;
  /* margin-top: -50; */
}

#addTaskBtn {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

#projectsListingDiv {
  margin-top: -8px;
}

#backBtn {
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}

#projectTitleWrapper {
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
}

#projectDeleteBtn {
  width: 70px;
  height: 30px;
  background-color: red;
  border: 0;
  color: white;
  border-radius: 4px;
}

#addTaskTitle {
  color: black;
}

#plus {
  cursor: pointer;
}
