* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

#controlView {
  background-color: green;
}

#infoView {
  background-color: yellow;
}
